.container {
    top: 0;
    height: 650px;
    width: 100%;
    z-index: -1;
    background-image: url("../../public/images/main1920.jpg");
    background-size: cover;
    background-position-y: 40%;
    background-repeat: no-repeat;

    @media screen and (max-width: 1000px) {
        background-image: url("../../public/images/main.jpg");
        height: 550px;
    }
    //toDo new photo with square ratio
    @media screen and (max-width: 900px) {
        height: 500px;
    }

    @media screen and (max-width: 700px) {
        height: 420px;
        background-position-x: 0%;
    }
    @media screen and (max-width: 620px) {
        height: 420px;
        background-position-x: 10%;
    }
    @media screen and (max-width: 550px) {
        height: 420px;
        background-position-x: 14%;
    }
    @media screen and (max-width: 480px) {
        background-position-x: 19%;
        height: 330px;
    }
    @media screen and (max-width: 300px) {
        height: 280px;
        background-position-x: 17%;
    }
}
