.container {
    position: absolute;
    top: 0;
    height: 650px;
    width: 100%;
    z-index: -1;
    background-image: url("../../public/images/main1920.jpg");
    background-size: cover;
    background-position-y: 40%;
    background-repeat: no-repeat;
    

    @media screen and (max-width: 1200px) {
        background-image: url("../../public/images/main.jpg");
        height: 550px;
    }

    @media screen and (max-width: 900px) {
        height: 500px;
    }
    @media screen and (max-width: 750px) {
        height: 400px;
    }
    @media screen and (max-width: 600px) {
        height: 350px;
    }
}
