@import '../../styles/variables.scss';
.root {
    padding: 0 15px;
    background-color: $mainGrey;
    h2{
        margin: 0;
        margin-top: 60px;
        margin-bottom: 30px;
        text-align: center;
        color: $aqua;
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    @media (min-width: 575.98px) {
        padding: 0 calc(50% - 270px);
    }

    @media (min-width: 767.98px) {
        padding: 0 calc(50% - 360px);
    }

    @media (min-width: 991.98px) {
        padding: 0 calc(50% - 470px);
    }

    @media (min-width: 1199.98px) {
        padding: 0 calc(50% - 560px);
    }

    @media screen and (max-width: 310px) {
        h2{
            font-size: 30px;
        }
    }

    @media screen and (max-width: 500px) {
        h2{
            font-size: 40px;
        }
    }
}
